<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />


    <meta name="description" content="Qubic DOGE Mining Stats - Live hashrate, epoch tracking and pool statistics for Qubic x Dogecoin mining" />
    <meta name="author" content="AndyQus" />
    <meta name="keywords" content="qubic, dogecoin, doge, mining, hashrate, stats, epoch, pool" />
    <meta name="application-name" content="Qubic DOGE Mining Stats" />
    <meta name="theme-color" content="#101820">


    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="site.css" rel="stylesheet" />
    <HeadOutlet @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
</head>
<body>
    <Routes @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>
</html>
